@import "ext/constants.scss";

.page-footer {
  padding-top: 0 !important;
  background-color: rgba($base-colour, 0.4) !important;

  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  -ms-transition: all 250ms ease;

  &:hover {
    background-color: rgba($accent-color, 0.4) !important;
  }
}
