@import "ext/constants.scss";

.page-footer {
  padding-top: 0 !important;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(#2d2d31, 0.85) !important;

  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
}