@import "ext/constants.scss";

nav {
  background-color: rgba(#202123, 0.85) !important;

  .brand-logo {
    margin-left: 10px;
  }

  .active {
    a {
      color: $base-colour !important;
      text-shadow: 0 0 0.12em $secondary-colour;
    }
  }
}
