@import "ext/constants";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (min-width: 992px) {
  .background-image {
    background-position: center left;
  }
}

* {
  text-shadow: 0.2px 0.2px 0.12em #fff;
}

a {
  color: #0ab6d4 !important;
  text-shadow: 0.2px 0.2px 0.12em #068da4;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  -ms-transition: all 250ms ease;

  &:hover {
    color: $base-colour !important;
    text-shadow: 0px 0px 0.12em $secondary-colour;
  }
}

.background-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/img/bg02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -999;
}

.card {
  background-color: transparent !important;
  box-shadow: 0 0 0.08em #000 !important;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(/img/bg02.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(14px);
  }
}
