@import "ext/constants";

// Mobile screens
@media only screen and (max-width: $mobile-screen) {
  .desktop {
    display: none;
  }
  .loader svg {
    max-height: 379px;
  }
}

// Desktop screens
@media only screen and (min-width: $mobile-screen) {
  .mobile {
    display: none;
  }
  .loader {
    transform: scale(0.8);
  }
  img {
    transform: scale(0.8);
  }
}

// Card customizations
.card {
  .card-title {
    font-size: 2rem;
    font-weight: 300;
    &.activator {
      cursor: pointer;
    }
  }

  .card-subtitle {
    font-size: 1rem;
    font-weight: 300;
    &.activator {
      cursor: pointer;
    }
  }

  .card-content {
    .divider {
      margin-top: 2.5%;
      margin-bottom: 2.5%;
    }
  }

  span.card-subtitle {
    break-after: always;
  }

  td {
    padding-top: 0;
    padding-bottom: 0;
  }

  table {
    border-collapse: unset;
  }
}

.profile-point {
  font-size: 1rem;
  break-after: always;
  margin-bottom: 5px;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}

.progress {
  background-color: $base-colour;
  .indeterminate {
    background-color: $secondary-colour;
  }
}
