@import "ext/constants";

// Mobile screens
@media only screen and (max-width: $mobile-screen) {
  .desktop {
    display: none;
  }
  .desktop-large {
    display: none;
  }
  .loader svg {
    max-height: 379px;
  }
}

// Desktop screens
@media only screen and (min-width: $mobile-screen) {
  .desktop-large {
    display: none;
  }
  .mobile {
    display: none;
  }
}

@media only screen and (min-width: $large-screen) {
  .card-image {
    width: 75%;
    .loader {
      height: 373px;
      width: 100%;
      margin-left: 0;
    }

    img {
      margin-left: 12.5%;
    }
  }
  .row {
    .col.offset-l3 {
      margin-left: 30%;
    }
    .col.l6 {
      width: 40%;
    }
  }

  .desktop-large {
    display: block;
  }
  
  .ndesktop-large {
    display: none;
  }
}

// Card customizations
.card {
  .card-title {
    font-size: 2rem;
    font-weight: 300;
    &.activator {
      cursor: pointer;
    }
  }

  .card-subtitle {
    font-size: 1rem;
    font-weight: 300;
    &.activator {
      cursor: pointer;
    }
  }

  .card-content {
    .divider {
      margin-top: 2.5%;
      margin-bottom: 2.5%;
    }
  }

  span.card-subtitle {
    break-after: always;
  }

  td {
    padding-top: 0;
    padding-bottom: 0;
  }

  table {
    border-collapse: unset;
  }
}

.profile-point {
  font-size: 1rem;
  break-after: always;
  margin-bottom: 5px;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}

.progress {
  background-color: $base-colour;
  .indeterminate {
    background-color: $secondary-colour;
  }
}
