@import "ext/constants";

.project-container {
  .card-title {
    background-color: rgba(#202123, 0.85) !important;
    width: 100%;
  }
}


// Additional rules for parsed markdown
.project-body {
  h1 {
    font-size: 1.5rem !important;
  }

  p {
    padding-bottom: 0.5rem;
  }

  li {
    list-style: square !important;
    margin-left: 1rem;
    padding-bottom: 0.25rem;
  }
}

.project-link {
  line-height: 36px !important;

  &:hover {
    span {
      color: $base-colour !important;
      text-shadow: 0 0 0.12em $secondary-colour;
    }
  }
}

.card {
  background-color: unset;
}

.btn-flat {
  text-transform: none;
}

.blurred-panel {
  box-shadow: 0 2px 2px #00000024, 0 3px 1px -2px #0000001f, 0 1px 5px #0003;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: 10;
}