// Mobile screens
@media only screen and (max-width: 992px) {
  .desktop {
    display: none;
  }
}

// Desktop screens
@media only screen and (min-width: 992px) {
  .mobile {
    display: none;
  }
  .card {
    img {
      transform: scale(0.8);
    }
  }
}

// Card customizations
.card {
  .card-title {
    font-size: 2rem;
    font-weight: 300;
    &.activator {
      cursor: pointer;
    }
  }

  .card-subtitle {
    font-size: 1rem;
    font-weight: 300;
    &.activator {
      cursor: pointer;
    }
  }

  .card-content {
    .divider {
      margin-top: 2.5%;
      margin-bottom: 2.5%;
    }
  }

  // For the links
  .card-action
    a:not(.btn):not(.btn-small):not(.btn-large):not(.btn-large):not(.btn-floating) {
    text-transform: none;
    margin-right: 0;
  }

  span.card-subtitle {
    break-after: always;
  }

  td {
    padding-top: 0;
    padding-bottom: 0;
  }

  table {
    border-collapse: unset;
  }
}

.profile-point {
  font-size: 1rem;
  break-after: always;
  margin-bottom: 5px;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}
